<div class="card">
  <div class="card-body">
    <h2>Your bank</h2>
    <% if(linkedBankName) { %>
       <%= linkedBankName  %>
     <% } else{ %>
       <p>No bank account linked yet</p>
    <% } %>
  </div>
</div>
