<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <h2><i class="fa fa-user" aria-hidden="true"></i></h2>
      </div>
      <div class="col-sm-10">
        <p><strong>Your profile:</strong></p>
        <p> <%= email %>, <%= role %> </p>
        <div class="text-right">
          <button type="button" class="btn" data-toggle="modal" data-target="#">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
