<div class="card">
  <div class="card-header">
    Balance Chart
  </div>
  <div class="balance-chart-container card-body fading-card">
    <canvas id="balance-chart" class="fading-card"></canvas>
  </div>
</div>
