<div class="card mt-4">
  <div class="card-header">
    Balance Sheet
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h2>Current</h2>
        <% include ../partials/table-balance-sheet %>
      </div>
      <div class="col-md-4">
        <h2>Past</h2>
        <% include ../partials/table-balance-sheet %>
      </div>
    </div>
  </div>
</div>
