<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <h2><i class="fa fa-user" aria-hidden="true"></i></h2>
      </div>
      <div class="col-sm-10">
        <p><strong>Your profile:</strong></p>
        <p> <%= email %>, <%= role %> </p>
        <div class="text-right">
          <form id="logout-form" role="form" method="post" action="/logout" enctype="application/x-www-form-urlencoded">
            <button class="btn" type="submit" name="logout" value="logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
