<div class="card">
  <div class="card-header">
    Balance Sheet
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h2>Current</h2>
        <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">Revenues</th>
                <th scope="col" id="current_revenue_tot">-</th>
                <th id="current_revenue_trend">-</th>
              </tr>
            </thead>
          <tbody id="current_revenue_items" >
          </tbody>

          <thead>
            <tr class="table-dark">
              <th scope="col">Liabilities</th>
              <th scope="col" id="current_liability_tot">-</th>
              <th scope="col" id="current_liability_trend">-</th>
            </tr>
          </thead>
          <tbody id="current_liability_items">
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>Past</h2>
        <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">Revenues</th>
                <th scope="col" id="past_revenue_tot">-</th>
                <th id="past_revenue_trend">-</th>
              </tr>
            </thead>
          <tbody id="past_revenue_items" >
          </tbody>

          <thead>
            <tr class="table-dark">
              <th scope="col">Liabilities</th>
              <th scope="col" id="past_liability_tot">-</th>
              <th scope="col" id="past_liability_trend">-</th>
            </tr>
          </thead>
          <tbody id="past_liability_items">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
