<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar-private %>
	<div class="bg">
		<main class="">
				<div class="pt-4 col-lg-8 offset-lg-2">
					<div class="card">
						<% include ../partials/card-account %>
					</div>
				</div>
		</main>
		<% include ../partials/footer %>
	</div>
</body>
</html>
