<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar-private %>
	<div class="bg">
		<main class="pt-4 container fullscreen">
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class="pb-4">
						<% include ../partials/card-account-bank {linkedBankName, linkedIBAN} %>
					</div>
					<div class="">
						<% include ../partials/card-groups {groups} %>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<% include ../partials/card-account {email, role} %>
				</div>
			</div>
		</main>
		<% include ../partials/footer %>
	</div>
</body>
</html>
