<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/navbar %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Paciolify</h1>
			<p>Home accounting simplified</p>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
