<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navbar %>

	<header class="container mt-4">
		<div class="jumbotron">
			<h1>Paciolify</h1>
			<p>Home accounting simplified</p>
		</div>
	</header>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
