<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="bg">
		<% include ../partials/navbar-public %>
		<% include ../partials/header %>
	</div>
	<div class="container">
		<div class="jumbotron">
			<p>Millennia families tend to have separate bank accounts instead of a common one. This introduces an additional complexity level by managing expenses and budgets. This application aims to facilitate family accounting by aggregating data from each member's bank account, providing a simple way to manage and control shared budgets and expenses.</p>
		</div>
	</div>
	<% include ../partials/footer %>
</body>
</html>
