<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="bg">
		<% include ../partials/navbar %>
		<% include ../partials/header %>
	</div>
	<% include ../partials/footer %>
</body>
</html>
