<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
	<div class="bg">
		<main>
			<div class="row pt-4">
				<div class="col-md-5 offset-md-1">
					<% include ../partials/card-balance-chart %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 pt-4">
					<% include ../partials/card-balance-sheet %>
				</div>
			</div>
		</main>
	</div>
	<% include ../partials/footer %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" ></script>
	<script src="js/lib/paciolify-api-helper.js"></script>
	<script src="js/me.js"></script>



</body>
</html>
