<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
	<header class="container mt-4">
		<h1>My balance</h1>
	</header>

	<main class="container mt-4">
		<canvas id="mixed-chart" width="800" height="450"></canvas>
	</main>

	<% include ../partials/footer %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" ></script>
	<script src="js/lib/paciolify-api-helper.js"></script>
	<script src="js/me.js"></script>



</body>
</html>
