<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar-private %>
	<div class="bg">
		<main class="">
			<div class="pt-4">
				<div class="col-md-6">
					<% include ../partials/card-balance-chart %>
				</div>
			</div>
			<div class="balance-sheet-container">
				<div class="pt-4 col-lg-8 offset-lg-2">
					<% include ../partials/card-balance-sheet %>
				</div>
			</div>
		</main>
		<% include ../partials/footer %>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" ></script>
	<script src="js/lib/paciolify-api-helper.js"></script>
	<script src="js/me.js"></script>
</body>
</html>
