<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="bg">
		<% include ../partials/navbar-public %>
    <div class="pt-4 container">
      <div class="col-md-6 mt-4">
        <form id="update-details-form" role="form" method="post" action="signup" enctype="application/x-www-form-urlencoded">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="foo@bar.com" value=''>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Your password" autocomplete="current-password" value=''>
          </div>
					<div class="form-group">
						<label for="password">Repete password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Your password" autocomplete="current-password" value=''>
					</div>
          <button type="submit" class="btn btn-primary">Signup</button>
          <div class="text-right">
            <span class="text-warning">Don you already have an account? <a href="/login" class="text-warning">Sign in!</a></span>
          </div>
        </form>
      </div>
    </div>
	</div>
	<% include ../partials/footer %>
</body>
</html>
